
#menu ul {
	padding:6px;
	background-color:black;
	font:100% Tahoma;
}

#menu ul li { display: inline; }
 
#menu ul li a {
	background-color:black;
	color: white;
	text-decoration: none;
	border-bottom:1px solid white;
	padding: 1px 35px;
}
 
#menu ul li a:hover {
	background-color:white;
	color: black;
	border-bottom:45px solid white;
}
img{
	width: 270px;
	height: 105px;
	margin-left: 240px;
}
			}
