* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul li a{
    color: #efefef;
    padding-left: 8px;
}
ul li a:hover{
    color: #efefef;
    text-decoration: none;
}
#id{
    font-size: 20px;
}
.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    position: absolute;
    margin-left: 50%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
header{
    padding: 154px 0 100px;
    background-color: #007bff;
}