* {
	margin: 0;
	padding: 0;
}

body {
	background:#E1E1E1;
	font-family:Arial;
}
 .container {
 	width: 1200px;
 	height: auto;
 	margin: 0 auto;
 }
  .logo {
  	width:100%;
  	height:300px;
  	background: #333;
  	text-align: center;
  }
  .menu {
  	width:100%;
  	height: 50px;
  	background: #333;
  	text-align: center;
  	margin-top:3px;
  }

  .menu ul {
  	list-style-type:nome;
  }

  .menu ul li {
  	padding:20px;
  	display:inline;
  }

  .menu ul li a {
  	text-decoration: none;
  	color:#CCC;
  	line-height: 50px;

  }
  .Conteudo {
  	width: 100%;
  	height: 500px;
  	background: #333;
  	margin-top: 3px;
  }

  .rodape {
  	width:100%;
  	height: 80px;
  	background: #333;
  	text-align: center;
  	margin-top:3px;
  }
  .rodape span {
  	color: #CCC;
  	line-height: 30px;

  }
  .rodape a {
  	text-decoration: none;
  	color: #b1b0b0;
  }

